# Chave de Acesso Pessoal do GitHub (escopo: repo)
GITHUB_PERSONAL_KEY=seu_token_github_aqui

# Credenciais do Projeto Firebase
FIREBASE_apiKey="sua_api_key_aqui"
FIREBASE_authDomain="seu_projeto.firebaseapp.com"
FIREBASE_projectId="seu_projeto_id"
FIREBASE_storageBucket="seu_projeto.firebasestorage.app"
FIREBASE_messagingSenderId="seu_sender_id"
FIREBASE_appId="seu_app_id"
FIREBASE_measurementId="seu_measurement_id"
